<p id="notice"><%= notice %></p>
<!--検索フォーム-->
<div class="">
  <%= search_form_for @q do |f| %>
  <!--title,tag,boxであいまい検索を指定-->
  <%= f.text_field :title_or_tag_or_box_cont, placeholder: 'キーワードを入力' %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<div class='col-md-12'>
  <!--検索結果-->
  <% if @items.present? %>
    <!--index表示-->
    <table class='table text-center'>
      <thead class='thead-dark'>
        <tr>
          <th class='text-center col-md-3'>画像</th>
          <th class='text-center col-md-3'>タイトル</th>
          <th class='text-center col-md-2'>タグ</th>
          <th class='text-center col-md-3'>収納場所</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <% if user_signed_in? && current_user.id == item.user_id %>
            <tr>
              <td><%= attachment_image_tag item, :image, size: '100x100', format: 'jpeg', fallback: 'NO.jpeg' %></td>
              <td><%=link_to item.title, item_path(item.id) %></span></td>
              <td><%= item.tag %></td>
              <td><%= item.box %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <!--検索がヒットしなかった場合,何も収納していない場合-->
    <p>収納されていません</p>
  <% end %>
</div>