<p id="notice"><%= notice %></p>
<!--検索フォーム-->
<div class="">
  <%= search_form_for @q do |f| %>
  <!--title,tag,boxであいまい検索を指定-->
  <%= f.text_field :title_or_tag_or_box_cont, placeholder: '  検索ワードを入力' %>
    <%= f.submit "検索する" %>
  <% end %>
</div>
<div class='row'>
  <div class='col-md-12'>
    <!--検索結果-->
    <% if @items.present? %>
      <!--index表示-->
      <div class="list-wrap">
        <% @items.each do |item| %>
          <% if user_signed_in? && current_user.id == item.user_id %>
            <div class="list-box">
              <%= attachment_image_tag item, :image, size: '200x200', format: 'jpeg', fallback: 'NO.jpeg' %>
              <div class="list-comment">
                <!--タイトル-->
                <span class="list-title"><%=link_to item.title, item_path(item.id) %></span>
                <!--タグ-->
                <span class="list-tag"><%= item.tag %></span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <!--検索がヒットしなかった場合,何も収納していない場合-->
      <p>収納されていません</p>
    <% end %>
  </div>
</div>