<p id="notice"><%= notice %></p>
<div class="">
  <%= search_form_for @q do |f| %>
  <!--name_contは、あいまい検索を指定-->
  <%= f.text_field :title_or_tag_cont %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<!--検索結果-->
<% if @items.present? %>
  <!--検索結果-->
  <div class="list-wrap">
    <% @items.each do |item| %>
      <% if user_signed_in? && current_user.id == item.user_id %>
        <div class="list-box">
          <%= attachment_image_tag item, :image, :fill, 200, 200, format: 'jpeg' %>
          <div class="list-comment">
            <span class="list-title"><%=link_to item.title, item_path(item.id) %></span>
            <span class="list-tag"><%= item.tag %></span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <!--検索がヒットしなかった場合-->
  <p>検索結果はありません</p>
<% end %>
