<!--詳細ページ-->
<div class='container'>
  <% if @item.errors.any? %>
    <%= @item.errors.count %>error prohibited this game from being saved:
    <% @item.errors.full_messages.each do |message| %>
      <ul class="error_explanation">
        <li><%= message %></li>
      </ul>
    <% end %>
  <% end %>
</div>
<p id="notice"><%= notice %></p>
<h1>詳細画面</h1>
<h2>タイトル</h2>
<p><%= @item.title %></p>
<h2>収納場所</h2>
<p><%= @item.box %></p>
<h2>タグ</h2>
<p><%= @item.tag %></p>
<h2>説明</h2>
<p><%= @item.explanation %></p>
<h2>投稿画像</h2>
  <%= attachment_image_tag(@item, :image, size: '900x660', fallback: 'NO.jpeg' ) %>
<!--編集,削除機能-->
<div style='border-top: none;'>
	<% if @item.user == current_user %>
		<%= link_to '編集する', edit_item_path(@item), data: {'turbolinks' => false}, class: 'glyphicon glyphicon-pencil btn btn-success pull-right edit_item_#{@item.id}' %>
	<% end %>
	<% if @item.user == current_user %>
　　　<%= link_to '削除する', item_path(@item), method: :delete, data: { confirm: '本当に消しますか？' }, class: 'glyphicon glyphicon-pencil btn btn-danger pull-right destroy_item_#{@item.id}'%>
　<% end %>
</div>
