<!DOCTYPE html>
<html>
  <head>
    <title>Storage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  </head>

  <body>
    <header>
      <!--ＴＯＰに戻る,サイト名-->
      <h1 class="headline">
        <a href="/">
          VirtualStorage
        </a>
      </h1>
    </header>
    <nav>
      <!--サインインしている場合-->
      <% if user_signed_in? %>
        <ul class="nav-list">
          <li class="nav-list-item">
            <%= link_to "ItemLists", items_path %>
          </li>
          <li class="nav-list-item">
            <%= link_to "New Items", new_item_path %>
          </li>
          <li class="nav-list-item">
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      <% else %>
      <!--サインインしていない場合-->
        <ul class="nav-list">
          <li class="nav-list-item">
            <%= link_to "Sign_in", new_user_registration_path %>
          </li>
          <li class="nav-list-item">
            <%= link_to "Login", new_user_session_path %>
          </li>
        </ul>
      <% end %>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
